
  <h4 class="form-label">All Listings</h4>

  <table class="table table-striped">

    <tr>
      <th class="table-sort" data-type"address">Address</th>
      <th class="table-sort" data-type"city">City</th>
      <th class="table-sort" data-type"state">State</th>
      <th class="table-sort" data-type"zipcode">Zipcode</th>
      <th class="table-sort" data-type"price">Price</th>
      <th class="table-sort" data-type"photo-count">Photos</th>
      <th class="text-center">Active</th>
      <th class="table-sort"></th>
    </tr>



    <% @all_listings.each do |listing| %>

    <tr class="table-body">
      <td><%= listing.address %></td>
      <td><%= listing.city %></td>
      <td><%= listing.state %></td>
      <td><%= listing.zipcode %></td>
      <td><%= listing.price %></td>
      <td><%= listing.photos.count %></td>
      <td class="text-center">
        <% if listing.active %>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% end %>
      </td>
      <td><%= link_to "Edit", edit_listing_path(listing) %></td>
    </tr>

    <% end %>
  </table>








</div>

</div>


</div>


