<div class="new-listing-table-container">

  <h4>All Listings</h4>

  <table class="table table-striped">

    <tr>
      <th class="table-sort" data-type"address">Address</th>
      <th class="table-sort" data-type"city">City</th>
      <th class="table-sort" data-type"state">State</th>
      <th class="table-sort" data-type"zipcode">Zipcode</th>
      <th class="table-sort" data-type"price">Price</th>
      <th class="text-center">Active</th>
    </tr>



    <% @all_listings.each do |listing| %>

    <tr class="table-body">
      <td><%= listing.address %></td>
      <td><%= listing.city %></td>
      <td><%= listing.state %></td>
      <td><%= listing.zipcode %></td>
      <td><%= listing.price %></td>
      <td class="text-center">
        <% if listing.active %>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>

    <% end %>
  </table>


  <table class="table table-striped">
    <h4>Create a New Listing:</h4>

    <tr class="table-body">
      <%= form_for :listing, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
      <td><%= f.text_field :address, class: "form-control", placeholder: "Address"  %></td>
      <td><%= f.text_field :city, class: "form-control", placeholder: "City"   %></td>
      <td><%= f.text_field :state, class: "form-control", placeholder: "State"   %></td>
      <td><%= f.number_field :zipcode, class: "form-control", placeholder: "Zipcode"   %></td>
      <td> <%= f.number_field :price, class: "form-control", placeholder: "Price"   %></td>
      <td> <%= f.check_box :active %></td>
    </tr>

  </table>

  <div class="container">

    <div class="row">


      <div class="col-sm-3">
       <div class="image-uploader-button">
        <div class="btn btn-default btn-file">
          <%= f.fields_for :photos do |p| %>
          <%= p.file_field :photo, :multiple => true, name: "photos[]", id: "imgInp"%>
          Choose Images...
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="image-uploader row">
  </div>
</div>
<div class="container">

  <div class="row">

    <div class="col-sm-3">
     <%= f.submit "Create Listing", class: "create-button btn btn-primary"%>
   </div>

   <div class="errors col-sm-5">
    <% if @listing.errors.any?  %>
    <div class="">
      <div class="alert alert-danger " role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= @listing.errors.full_messages.first%>
      </div>
    </div>
    <% end %>

  </div>

</div>

</div>
<% end %>








</div>

</div>


</div>



</div>
