

<div>

<%= form_for :listing, url: {action: "create"}, html: {class: "create_form"} do |f| %>

  <div class="form-control">
    Name: <%= f.text_field :name %>
  </div>
  <div class="form-control">
    Address: <%= f.text_field :address%>
  </div>
  <div class="form-control">
    Active<%= f.check_box :active %>
  </div>
  <div class="form-control">
    Price: $<%= f.number_field :price %>
  </div>

  <%= f.fields_for :photos do |p| %>
     <div class="field">
       <%= p.label :photo %><br>
       <%= p.file_field :photo, :multiple => true, name: "photos[photo][]" %>
     </div>
   <% end %>

  <div class="form-control">
    <%= f.submit "Create Listing" %>
  </div>

<% end %>


</div>