<div class="new_page_container">
  <div class="new-listing-form-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <h4 class="form-label">Create a New Listing:</h4>
        </div>
      </div>
      <%= form_for :listing, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
        <div class="form-group">
          <%= f.label :address, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :address, class: "form-control", placeholder: "Address"  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :city, class: "col-sm-3 control-label"%>
          <div class="col-sm-9">
            <%= f.text_field :city, class: "form-control col-sm-9", placeholder: "City"   %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :state, class: "col-sm-3 control-label" %>
          <div class="col-sm-3">
            <%= f.select :state, options_for_select(["NY", "CT", "NJ"]), {}, {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :zipcode, class: "col-sm-3 control-label" %>
          <div class="col-sm-3">
            <%= f.number_field :zipcode, class: "form-control", placeholder: "Zipcode"   %>
          </div>
        </div>


        <div class="form-group">
          <%= f.label :price, class: "col-sm-3 control-label" %>
          <div class="col-sm-5">
            <%= f.number_field :price, class: "form-control", placeholder: "$"   %>
          </div>
        </div>


        <div class="form-group">
          <%= f.label :bedrooms, class: "col-sm-3 control-label" %>
          <div class="col-sm-5">
            <%= f.number_field :bedroom, class: "form-control", placeholder: "#"   %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :bathrooms, class: "col-sm-3 control-label" %>
          <div class="col-sm-5">
            <%= f.number_field :bathroom, class: "form-control", placeholder: "#"   %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :Sqft, class: "col-sm-3 control-label" %>
          <div class="col-sm-5">
            <%= f.number_field :footage, class: "form-control", placeholder: "#"   %>
          </div>
        </div>


        <div class="form-group">
          <%= f.label :active, class: "col-sm-3 control-label" %>
          <div class="col-sm-9 check-box">
            <%= f.check_box :active %> <span class="active-text">This listing is currently for sale.</span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :photos, class: "col-sm-3 control-label" %>
          <div class="col-sm-5">
            <div class="image-uploader-button">
              <div class="btn btn-default btn-file">
                <%= f.file_field :photo, :multiple => true, name: "photos[]", id: "imgInp"%>
                Choose Images...
              </div>
            </div>
          </div>
        </div>
        <div class="image-uploader">
        </div>
        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
           <%= f.submit "Create Listing", class: "create-button btn btn-primary"%>
          </div>
        </div>
        <div class="form-group">
          <div class="errors col-sm-9 col-sm-offset-3">
            <% if @listing.errors.any?  %>
              <div class="alert alert-danger " role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <%= @listing.errors.full_messages.first%>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="listing-table-container">
    <%= render "listing_table", locals: { all_listings: @all_listings} %>
  </div>
</div>