<h1><%= @listing.address %></h1>
<div>Price: $<%= @listing.price %></div>
<div>Active: <%= @listing.active %></div>

<%= link_to 'Home', root_path , class: "btn btn-primary"%>


  <div id="slider">
    <ul class="slides">
      <% @listing.photos.each do |photo| %>
      <li class="slide">
        <div class="what">
          We Ballin
        </div>
        <img src="<%= photo.photo %>" alt="">
      </li>
      <% end %>
      <li class="slide">
         <div class="what">
          We Ballin
        </div>
        <img src="<%= @listing.photos.first.photo %>" alt="">
      </li>
    </ul>
  </div>


<div id="listing-map-container">

</div>


<div class="">

  <div class="property-info-containter" id="<%= @listing.id %>">
    <div><%= render partial: "edit", locals: {listing: @listing} %></div>
    <div><%= @listing.price %></div>
    <div><%= @listing.active %></div>
  </div>

</div>