<h1><%= @listing.address %></h1>
<div>Price: $<%= @listing.price %></div>
<div>Active: <%= @listing.active %></div>

<%= link_to 'Home', root_path , class: "btn btn-primary"%>



<div id="listing-map-container">

</div>


<div class="">

  <div class="property-info-containter" id="<%= @listing.id %>">
    <div><%# render partial: "edit", locals: {listing: @listing} %></div>
    <div><%= @listing.price %></div>
    <div><%= @listing.active %></div>
  </div>

</div>