

<div class="container">
  <div class="row">


    <div class="col-sm-12">
     <div id="slider">
      <ul class="slides">
        <% @all_listings.each do |listing| %>
        <li class="slide">
          <div class="slider-content">
            <div class="slide-title">
              <%= listing.address %>
            </div>
            <div>
              <%= listing.city %>, <%= listing.state %>
            </div>
          </div>
          <img src="<%= listing.photos.first.photo %>" alt="">
        </li>
        <% end %>
        <li class="slide">
         <div class="slider-content">
          <div class="slide-title">
            <%= @all_listings.first.address %>
          </div>
          <div>
            <%= @all_listings.first.city %>, <%= @all_listings.first.state %>
          </div>
        </div>
        <img src="<%= @all_listings.first.photos.first.photo %>" alt="">
      </li>
    </ul>
  </div>
</div>
</div>
<div class="row map-block">


  <div class="col-sm-6 map-left">

  <div class="slide-title">Blah Blah</div>
  <div>Blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah
blah blah blah blah blah blah blah blah blah blah blah </div>
  </div>


  <div class="col-sm-6">
    <div id="map-container">
    </div>
  </div>

  </div>

  <div class="row">

  <div cl>
    <%= link_to "Create New Listing", new_listing_path, {:class => "buttonTo btn btn-primary" } %>
  </div>



</div>

</div>