

<div class="container-flux">
  <div class="navigation_container">
    <span class="header">
      HOMESWAG
    </span>

    <span class="button-container">
      <span class="nav-button">BUTTON</span>
      <span class="nav-button">BUTTON</span>
      <span class="nav-button">BUTTON</span>
      <span class="nav-button">BUTTON</span>
    </span>


    <div class="nav-mini-button">
      <div class="mini-button-bar"></div>
      <div class="mini-button-bar"></div>
      <div class="mini-button-bar"></div>
      <div class="mini-button-bar"></div>

    </div>


  </div>
  <div class="row home-slider">
    <div class="col-sm-12 text-center">
      <ul class="rslides">
        <% @all_listings.each do |listing| %>
        <% if listing.photos != [] %>
        <li>
          <div class="slider-content-box">
            <div class="slider-content">
              <span class="large-font">
                <%= listing.address.upcase %>
              </span>


              <div><%= listing.city.upcase %>, <%= listing.state.upcase %></div>


            </div>



          </div>
          <%= image_tag listing.photos.first.photo_url(:large)%>
          <!-- <img src="<%= listing.photos.first.photo %>" alt=""> -->
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-6 vcenter-contents">
      <div class="text-content">
        <div class="slide-title">
          So Fresh.
        </div>
        <div>
          <p>
            Comin' through shinnin' on them kitty's keep that lama on me ninja, get money on them kitty's, so fresh.
            Shinin' all the time, my ice be bubblin' gucci tailor-made and the hoes so fresh.
          </p>
          <p>
            Got the candy on the seat, the belt and the package, ninja, under the heat. So fresh.
            So the time be the time, it's a must a ninja shine so we stay up on the grind.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div>
        <div id="map-container">
        </div>
      </div>
    </div>

  </div>

  <div class="row ">

    <div class="col-sm-6 vcenter-contents">
      <div class="text-content">

        <div>

        </div>
      </div>
    </div>


    <div class="col-sm-6 vcenter-contents">
      <div class="text-content">
        <div class="slide-title">
          Believe Dat.
        </div>
        <div>
          <p>
            Tony Montana, white leather, soft sofas.
            Got too many cars, so now I buy chauffeurs.
            All about my penny like a motherfuckin' loafer.
            I was in the crack game before bakin' soda.
          </p>

          <p>
            Bitch, I'm a OG, bitch, I'm a OG.
            I'm gettin' high off my money 'til I OD.
            See you don't know me, them bitches know me.
            My old hoe's tellin' me go back to gold teeth.
          </p>
        </div>
      </div>
      <div>

      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-3">
      <%= link_to "Create New Listing", new_listing_path, {:class => "buttonTo btn btn-primary" } %>
    </div>



  </div>

</div>
