

<div class="container">
  <div class="navigation_container">
    <span class="header">
      CONTEMPORARY HOMES
    </span>

    <span class="button-container">
      <span class="nav-button">BUTTON</span>
      <span class="nav-button">BUTTON</span>
      <span class="nav-button">BUTTON</span>
      <span class="nav-button">BUTTON</span>
    </span>


    <div class="nav-mini-button">
      <div class="mini-button-bar"></div>
      <div class="mini-button-bar"></div>
      <div class="mini-button-bar"></div>
      <div class="mini-button-bar"></div>

    </div>


  </div>
  <div class="row home-slider">
    <div class="col-sm-12 text-center">
     <!--  <div class="banner-text">
        <span class="em4">
          <em>"Blah blah blah blah blah blah blah blah blah ."</em>
        </span>
        <div class="em2">-Blah</div>

      </div> -->

      <ul class="rslides">
        <% @all_listings.each do |listing| %>
        <% if listing.photos != [] %>
        <li>
          <div class="slider-content-box">
            <div class="slider-content">
              <span class="large-font">
                <%= listing.address.upcase %>
              </span>
              <div><%= listing.city.upcase %>, <%= listing.state.upcase %></div>
            </div>
          </div>
          <%= image_tag listing.photos.first.photo_url(:large)%>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-4 vcenter-contents">
      <div class="text-content">
        <div class="slide-title">
          So Fresh.
        </div>
        <div>
          <p>
            Comin' through shinnin' on them kitty's keep that lama on me ninja, get money on them kitty's, so fresh.
            Shinin' all the time, my ice be bubblin' gucci tailor-made and the hoes so fresh.
          </p>
          <p>
            Got the candy on the seat, the belt and the package, ninja, under the heat. So fresh.
            So the time be the time, it's a must a ninja shine so we stay up on the grind.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div>
        <div id="map-container">
        </div>
      </div>
    </div>

  </div>








  <% @all_listings.each_slice(2) do |slice| %>


  <div class="row ">

    <div class="col-sm-8 vcenter-contents">
      <div class="text-content featured-image">
        <% if slice[0].photos.first != nil %>
        <%= image_tag slice[0].photos.first.photo_url(:large)%>
        <% end %>

        <div class="">

        </div>
      </div>
    </div>


    <div class="col-sm-4 vcenter-contents">
      <div class="text-content">
        <div class="slide-title">
          Believe Dat.
        </div>
        <div>
          <!-- slice[0].info -->
          <p>
            Tony Montana, white leather, soft sofas.
            Got too many cars, so now I buy chauffeurs.
            All about my penny like a motherfuckin' loafer.
            I was in the crack game before bakin' soda.
          </p>

          <p>
            Bitch, I'm a OG, bitch, I'm a OG.
            I'm gettin' high off my money 'til I OD.
            See you don't know me, them bitches know me.
            My old hoe's tellin' me go back to gold teeth.
          </p>
        </div>
      </div>
      <div>

      </div>
    </div>

  </div>

  <% if slice[1] != nil %>
  <div class="row ">

    <div class="col-sm-4 vcenter-contents">
      <div class="text-content">
        <div class="slide-title">
          Believe Dat.
        </div>
        <div>
          <!-- slice[1] info -->
          <p>
            Tony Montana, white leather, soft sofas.
            Got too many cars, so now I buy chauffeurs.
            All about my penny like a motherfuckin' loafer.
            I was in the crack game before bakin' soda.
          </p>

          <p>
            Bitch, I'm a OG, bitch, I'm a OG.
            I'm gettin' high off my money 'til I OD.
            See you don't know me, them bitches know me.
            My old hoe's tellin' me go back to gold teeth.
          </p>
        </div>
      </div>
      <div>

      </div>
    </div>

    <div class="col-sm-8 vcenter-contents">
      <div class="text-content featured-image">

        <% if slice[1].photos.first != nil %>
        <%= image_tag slice[1].photos.first.photo_url(:large)%>
        <% end %>

        <div class="">

        </div>
      </div>
    </div>


  </div>
  <% end %>

  <% end %>

<!--   <div class="row ">

    <div class="col-sm-4 vcenter-contents">
      <div class="text-content featured-image">
        <%# image_tag @all_listings.first.photos.last.photo_url(:large)%>

        <div class="">

        </div>
      </div>
    </div>


    <div class="col-sm-4 vcenter-contents">
      <div class="text-content">
        <div class="slide-title">
          Believe Dat.
        </div>
        <div>
          <p>
            Tony Montana, white leather, soft sofas.
            Got too many cars, so now I buy chauffeurs.
            All about my penny like a motherfuckin' loafer.
            I was in the crack game before bakin' soda.
          </p>

          <p>
            Bitch, I'm a OG, bitch, I'm a OG.
            I'm gettin' high off my money 'til I OD.
            See you don't know me, them bitches know me.
            My old hoe's tellin' me go back to gold teeth.
          </p>
        </div>
      </div>
      <div>

      </div>
    </div>
    <div class="col-sm-4 vcenter-contents">
      <div class="text-content featured-image">
        <%# image_tag @all_listings.first.photos.first.photo_url(:large)%>

        <div class="">

        </div>
      </div>
    </div>



  </div> -->

  <div class="row">

    <div class="col-sm-3">
      <%= link_to "Create New Listing", new_listing_path, {:class => "buttonTo btn btn-primary" } %>
    </div>



  </div>

</div>
