

<div class="container">




  <div class="navigation_container">
    <span class="header">
      CONTEMPORARY HOMES
    </span>

    <span class="button-container">
      <span class="nav-button">ABOUT</span>
      <span class="nav-button">HOMES</span>
      <span class="nav-button">BROKERS</span>
      <span class="nav-button">CONTACT</span>
    </span>


    <div class="nav-mini-button">
      <div class="mini-button-bar"></div>
      <div class="mini-button-bar"></div>
      <div class="mini-button-bar"></div>
      <div class="mini-button-bar"></div>

    </div>


  </div>
  <div class="row home-slider">
    <div class="col-sm-12 text-center">
     <!--  <div class="banner-text">
        <span class="em4">
          <em>"Blah blah blah blah blah blah blah blah blah ."</em>
        </span>
        <div class="em2">-Blah</div>

      </div> -->

      <ul class="rslides">
        <% @all_listings.each do |listing| %>
        <% if listing.photos != [] %>
        <li>
          <div class="slider-content-box">
            <div class="slider-content">
              <span class="large-font">
                <%= listing.address.upcase %>
              </span>
              <div><%= listing.city.upcase %>, <%= listing.state.upcase %></div>
            </div>
          </div>
          <%= image_tag listing.photos.first.photo_url(:large)%>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-4 vcenter-contents">
      <div class="text-content">
        <div class="slide-title">
          LOREM IPSUM
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p>
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
         </p>
       </div>
     </div>
   </div>

   <div class="col-sm-8">
    <div>
      <div id="map-container">
      </div>
    </div>
  </div>

</div>








<% @all_listings.each_slice(2) do |slice| %>


<div class="row ">

  <div class="col-sm-8 vcenter-contents">
    <div class="text-content featured-image">
      <% if slice[0].photos.first != nil %>
      <%= image_tag slice[0].photos.first.photo_url(:large)%>
      <% end %>

      <div class="">

      </div>
    </div>
  </div>


  <div class="col-sm-4 vcenter-contents">
    <div class="text-content">
      <div class="slide-title">
        <%= slice[0].address.upcase %>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <p>
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       </p>
     </div>
   </div>
   <div>

   </div>
 </div>

</div>

<% if slice[1] != nil %>
<div class="row ">

  <div class="col-sm-4 vcenter-contents">
    <div class="text-content">
      <div class="slide-title">
        <%= slice[1].address.upcase %>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       </p>
     </div>
   </div>
   <div>

   </div>
 </div>

 <div class="col-sm-8 vcenter-contents">
  <div class="text-content featured-image">

    <% if slice[1].photos.first != nil %>
    <%= image_tag slice[1].photos.first.photo_url(:large)%>
    <% end %>

    <div class="">

    </div>
  </div>
</div>


</div>
<% end %>

<% end %>


  <div class="row">





  </div>

</div>


 <%= render "layouts/footer" %>