

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CONTEMPORARY HOMES</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Homes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% @all_listings.each do |listing| %>
            <li><a href="/listings/<%= listing.id %>"><%= listing.address %></a></li>
            <% end %>
          </ul>
        </li>
        <li><a href="#contact">Agents</a></li>
        <li><a href="#contact">Contact</a></li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>



<div class="container-flux">


  <div class="row home-slider">
    <div class="col-sm-12 text-center">
     <!--  <div class="banner-text">
        <span class="em4">
          <em>Banner</em>
        </span>
        <div class="em2">-Blah</div>

      </div> -->

      <ul class="rslides">
        <% @all_listings.each do |listing| %>
        <% if listing.photos != [] %>

        <% listing.photos.each do |photo| %>

        <li>
          <div class="slider-content-box">
            <div class="slider-content">
              <span class="large-font">
                <%= listing.address.upcase %>
              </span>
              <div><%= listing.city.upcase %>, <%= listing.state.upcase %></div>
            </div>
          </div>
          <%= image_tag photo.photo_url(:large)%>
        </li>
        <% end %>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-4 vcenter-contents">
      <div class="text-content">
        <div class="slide-title">
          LOREM IPSUM
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p>
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
         </p>
       </div>
     </div>
   </div>

   <div class="col-sm-8">
    <div>
      <div id="map-container">
      </div>
    </div>
  </div>

</div>








<% @all_listings.each_slice(2) do |slice| %>


<div class="row ">

  <div class="col-sm-8 vcenter-contents">
    <div class="featured-image">
      <% if slice[0].photos.last != nil %>
      <%= image_tag slice[0].photos.last.photo_url(:large)%>
      <% end %>

      <div class="">

      </div>
    </div>
  </div>


  <div class="col-sm-4 vcenter-contents">
    <div class="text-content">
      <div class="slide-title">
        <%= slice[0].address.upcase %>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <p>
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       </p>
     </div>
   </div>
   <div>

   </div>
 </div>

</div>

<% if slice[1] != nil %>
<div class="row ">

  <div class="col-sm-4 vcenter-contents">
    <div class="text-content">
      <div class="slide-title">
        <%= slice[1].address.upcase %>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       </p>
     </div>
   </div>
   <div>

   </div>
 </div>

 <div class="col-sm-8 vcenter-contents">
  <div class="featured-image">

    <% if slice[1].photos.last != nil %>
    <%= image_tag slice[1].photos.last.photo_url(:large)%>
    <% end %>

    <div class="">

    </div>
  </div>
</div>


</div>
<% end %>

<% end %>


<div class="row">





</div>

</div>


<%= render "layouts/footer" %>