<div class="container">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-3">
    <h3>Admin Login</h3>
  </div>
  </div>

  <div class="row">


  <%= form_for :user, url: 'user/authenticate', method: 'post', html: {class: "form-horizontal"} do |f| %>

  <div class="form-group">
    <%= f.label 'User Name', class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :user_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Password', class: "col-sm-3 control-label"%>
    <div class="col-sm-3">
      <%= f.password_field :password_digest, class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3 col-sm-offset-3">
      <%= f.submit "Login", class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>
  </div>

</div>

